







/* 
.container{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;

}

.box{
    width: 250px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
}


.box:hover{
    width: 400px;
    height: 150px;
    border: 2px solid black;
    margin: 5px;
}

.box1 {
    background-color: rebeccapurple;

  
}

.box2 {
    background-color: crimson;
}

.box3 {
  background-color: green;

} 

.box4{
    background-color: #ddd;
}

.box5{
    background-color: pink;
}

.box6{
    background-color: orange;
}

.box7{
    background-color: orangered;
} */ */